{% extends 'home/tamplate/childlayout.twig' %}
{% block content %}
<hr class="featurette-divider">
<hr class="featurette-divider">
<div class="well">
  adds panel
</div>
<div class="gradient" style="margin-bottom:20px;">
</div>
<hr class="featurette-divider">
<div class="container">
<div class="row">
<div class="col-xs-14 col-sm-3 col-lg-2">
<img class="img-thumbnail" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="180" height="200">
</div>
<div class="col-xs-14 col-sm-4 col-lg-6">
<h3>Terminus APK</h3>
<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
<button id="btn" class="btn btn-lg" style="margin-bottom:10px; background:#D4AF37;">Download now</button>
</div>
<div class="col-xs-12 col-sm-15 col-lg-12">
    <img class="img-thumbnail" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="220" height="800">
    <img class="img-thumbnail" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="220" height="800">
      <img class="img-thumbnail" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="220" height="800">
</div> 
</div>
</div>
<hr class="featurette-divider">
<!--/row-->
<div class="container">
<!--column starts-->
<!--Heading starts-->
<h3 class="heading">
<span>Mobile Browsers</span>
<hr>
</h3>
<!--Heading starts ends-->
<div class="row">
<div class="col-xs-6 col-sm-6 col-lg-6">
<img src="feature.png" width="170px" height="160px">
  <h4>Heading</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
  <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>

</div>
<div class="col-xs-6 col-sm-6 col-lg-5">
<div class="list-group">
  <article class="list-group-item">
  <img src="google_chrome.jpg" width="50px" height="50px" style="float:left;"><h4><a href="#">Google Chrome 7.0</a><br></h4>
  <button class="btn btn-primary btn-sm">Download Now</button>
  </article>
  <article class="list-group-item">
  <img src="google_chrome.jpg" width="50px" height="50px" style="float:left;"><h4><a href="#">Google Chrome 7.0</a><br></h4>
  <button class="btn btn-primary btn-sm">Download Now</button>
  </article>
  <article class="list-group-item">
  <img src="google_chrome.jpg" width="50px" height="50px" style="float:left;"><h4><a href="#">Google Chrome 7.0</a><br></h4>
  <button class="btn btn-primary btn-sm">Download Now</button>
  </article>
  <article class="list-group-item">
  <img src="google_chrome.jpg" width="50px" height="50px" style="float:left;"><h4><a href="#">Google Chrome 7.0</a><br></h4>
  <button class="btn btn-primary btn-sm">Download Now</button>
  </article>
</div>
</div>
</div>
<!--column ends-->
</div>
  <hr class="featurette-divider">
<div class="container">
<div class="row">
  <div class="col-xs-12 col-sm-6 col-lg-5">
  <!--Heading starts-->
<h3 class="heading">
<span>Trending Games</span>
<hr>
</h3>
<!--Heading  ends-->
<img src="google_chrome.jpg" width="140px" height="140px">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <button class="btn btn-primary" style="margin-bottom:10px;">Download Now</button>
<div class="list-group">
  <article class="list-group-item">
  <img src="google_chrome.jpg" width="50px" height="50px" style="float:left;"><h4><a href="#">Google Chrome 7.0</a><br></h4>
  <button class="btn btn-primary btn-sm">Download Now</button>
  </article>
  <article class="list-group-item">
  <img src="google_chrome.jpg" width="50px" height="50px" style="float:left;"><h4><a href="#">Google Chrome 7.0</a><br></h4>
  <button class="btn btn-primary btn-sm">Download Now</button>
  </article>
  <article class="list-group-item">
  <img src="google_chrome.jpg" width="50px" height="50px" style="float:left;"><h4><a href="#">Google Chrome 7.0</a><br></h4>
  <button class="btn btn-primary btn-sm">Download Now</button>
  </article>
  <article class="list-group-item">
  <img src="google_chrome.jpg" width="50px" height="50px" style="float:left;"><h4><a href="#">Google Chrome 7.0</a><br></h4>
  <button class="btn btn-primary btn-sm">Download Now</button>
  </article>
</div>
  </div>
  <div class="col-xs-12 col-sm-6 col-lg-5">
<!--Heading starts-->
<h3 class="heading">
<span>Trending Games</span>
<hr>
</h3>
<!--Heading  ends-->
<img src="google_chrome.jpg" width="140px" height="140px">
    <h2>Heading</h2>
    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <button class="btn btn-primary" style="margin-bottom:10px;">Download Now</button>
<div class="list-group">
  <article class="list-group-item">
  <img src="google_chrome.jpg" width="50px" height="50px" style="float:left;"><h4><a href="#">Google Chrome 7.0</a><br></h4>
  <button class="btn btn-primary btn-sm">Download Now</button>
  </article>
  <article class="list-group-item">
  <img src="google_chrome.jpg" width="50px" height="50px" style="float:left;"><h4><a href="#">Google Chrome 7.0</a><br></h4>
  <button class="btn btn-primary btn-sm">Download Now</button>
  </article>
  <article class="list-group-item">
  <img src="google_chrome.jpg" width="50px" height="50px" style="float:left;"><h4><a href="#">Google Chrome 7.0</a><br></h4>
  <button class="btn btn-primary btn-sm">Download Now</button>
  </article>
  <article class="list-group-item">
  <img src="google_chrome.jpg" width="50px" height="50px" style="float:left;"><h4><a href="#">Google Chrome 7.0</a><br></h4>
  <button class="btn btn-primary btn-sm">Download Now</button>
  </article>
</div>

  </div>
</div>
   
</div>
 <!-- FOOTER -->
  <div class="well">
  adds panel
</div>
{% endblock %}