{% extends 'home/tamplate/childlayout.twig' %}
{% block content %}
<div class="well">
     Adds panel 
 </div>
<h3 class="heading">
<span>Mobile Browsers</span>
<hr>
</h3>
<div class="row">
<div class="col-sm-4" style="width:60%">
  <img src="6801692-lovely-nature-wallpaper.jpg" class="img-responsive margin" style="width:100%" alt="Image"> 
</div></div>
<!--Heading starts ends-->
<div class="container-fluid bg-3">    
  <h3 class="margin">Catagory Name</h3><br>
  <div class="row">
    <div class="col-sm-4">
    <h3>App name</h3>
      <img src="6801692-lovely-nature-wallpaper.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <button class="btn btn-primary-outline" style="margin-bottom:10px;">Download Now</button>
    </div>
    <div class="col-sm-4">
     <h3>App name</h3>
      <img src="6801692-lovely-nature-wallpaper.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <button class="btn btn-primary-outline" style="margin-bottom:10px;">Download Now</button>
    </div>
    <div class="col-sm-4">
     <h3>App name</h3>
      <img src="6801692-lovely-nature-wallpaper.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <button class="btn btn-primary-outline" style="margin-bottom:10px;">Download Now</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
    <h3>App name</h3>
      <img src="6801692-lovely-nature-wallpaper.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <button class="btn btn-primary-outline" style="margin-bottom:10px;">Download Now</button>
    </div>
    <div class="col-sm-4">
     <h3>App name</h3>
      <img src="6801692-lovely-nature-wallpaper.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <button class="btn btn-primary-outline" style="margin-bottom:10px;">Download Now</button>
    </div>
    <div class="col-sm-4">
     <h3>App name</h3>
      <img src="6801692-lovely-nature-wallpaper.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <button class="btn btn-primary-outline" style="margin-bottom:10px;">Download Now</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
    <h3>App name</h3>
      <img src="6801692-lovely-nature-wallpaper.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <button class="btn btn-primary-outline" style="margin-bottom:10px;">Download Now</button>
    </div>
    <div class="col-sm-4">
     <h3>App name</h3>
      <img src="6801692-lovely-nature-wallpaper.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <button class="btn btn-primary-outline" style="margin-bottom:10px;">Download Now</button>
    </div>
    <div class="col-sm-4">
     <h3>App name</h3>
      <img src="6801692-lovely-nature-wallpaper.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <button class="btn btn-primary-outline" style="margin-bottom:10px;">Download Now</button>
    </div>
  </div>
</div>
<!--PAGINATION-->
    <div class="well">
     Adds panel 
    </div>
{% endblock %}